<div class="row">

  <div class="row jumbotron p-3 p-md-5 text-white rounded bg-dark mr-0">
    <div class="col-md-6 px-0">
      <h1 class="font-italic">Your Own Personal Quiz Creator</h1>
      <p class="lead my-3">Make you own quiz and let other people join and answer the question. Check your dashboard to
        see
        statistics and much more...
      </p>
      <p class="lead mb-0"><a mat-stroked-button href="#" class="text-white font-weight-bold p-3">Start Now</a>
      </p>
    </div>
  </div>
</div>

<div class="row m-1 text-align-center">
  <div class="col-md-12">
    <app-cards title="Everything Simplified" subtitle="Dashboard"
      description="All the required info in front of the eyes at one spot that is your own dashboard!"
      imageSrc="/assets/images/dashboard.jpg"></app-cards>
  </div>
</div>

<div class="row m-1 text-align-center">
  <div class="col-md-12">
    <app-cards title="Create Quiz in few minutes" subtitle="Create Quiz"
      description="Quickly create a quiz from scratch and make it visible to public to let other join and play!"
      imageSrc="/assets/images/createQuiz.jpg"></app-cards>
  </div>
</div>

<div class="row m-1 text-align-center">
  <div class="col-md-12">
    <app-cards title="Join Quiz Instantly" subtitle="Join Quiz"
      description="Just provide a join pin to the participants and get started with the fun quiz!"
      imageSrc="/assets/images/joinQuiz.jpg"></app-cards>
  </div>
</div>

<div class="row p-5 primary">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="display-4 text-center text-white p-3">Start Now</h2>
    </div>
    <div class="col-sm-12">
      <h4 class="font-weight-light text-center text-white">Create your free account and start now!</h4>
    </div>
    <div class="col-sm-12">
      <h4 class="text-center pb-2">
        <a mat-stroked-button routerLink="/signin" class="text-white font-weight-bold p-3">Start Now</a>
      </h4>
    </div>
  </div>
</div>
