<div class="row">

  <div class="row jumbotron p-3 p-md-5 text-white rounded bg-dark mr-0">
    <div class="col-md-6 px-0">
      <h1 class="font-italic">Your Own Personal Quiz Creator</h1>
      <p class="lead my-3">Make you own quiz and let other people join and answer the question. Check your dashboard to
        see
        statistics and much more...
      </p>
      <p class="lead mb-0"><a mat-stroked-button href="#" class="text-white font-weight-bold p-3">Start Now</a>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-title>Everything Simplified</mat-card-title>
      <mat-card-subtitle>Dashboard</mat-card-subtitle>
      <mat-card-content>Qucikly create a quiz from scratch and make it visible to public to let other join and play!
      </mat-card-content>

      <img mat-card-image [src]="imageSrc">
    </mat-card>
  </div>
</div>

<div class="row p-5 primary">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="display-4 text-center text-white p-3">Start Now</h2>
    </div>
    <div class="col-sm-12">
      <h4 class="font-weight-light text-center text-white">Create your free account and start now!</h4>
    </div>
    <div class="col-sm-12">
      <h4 class="text-center pb-2">
        <a mat-stroked-button routerLink="/signin" class="text-white font-weight-bold p-3">Start Now</a>
      </h4>
    </div>
  </div>
</div>
