<div class="row flex justify-content-center flex-wrap">
  <div class="col-sm-12 text-align-center">
    <h1 *ngIf="!editMode">Create a Quiz</h1>
    <h1 *ngIf="editMode">Edit Quiz</h1>
  </div>

  <!-- quiz with question from -->
  <div class="col-sm-6">
    <mat-card>
      <form [formGroup]="quizForm">
        <mat-card-content>
          <h3>Quiz Name</h3>
          <mat-form-field class="full-width">
            <mat-label>
              Name
            </mat-label>
            <input formControlName="name" matInput type="text" placeholder="Quiz Name" value="">
            <mat-error *ngIf="quizForm && quizForm.get('name').hasError('required')">Required Field</mat-error>
            <mat-error *ngIf="quizForm && quizForm.get('name').hasError('serverError')">{{serverErrors.nameError}}
            </mat-error>
          </mat-form-field>
          <div formArrayName="questions" *ngFor="let question of getArrayControl(); let i=index">
            <div [formGroupName]="i">
              <h4>Question {{i+1}}</h4>
              <mat-form-field class="full-width">
                <mat-label>
                  Question
                </mat-label>
                <input formControlName="question" matInput type="text" placeholder="What is 2+2?" value="">
                <mat-error *ngIf="question.get('question').hasError('required')">Required Field</mat-error>
                <mat-error *ngIf="question.get('question').hasError('serverError')">
                  {{serverErrors.questions[i].question}}</mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>
                  Option A:
                </mat-label>
                <input formControlName="OptionA" matInput type="text" placeholder="possible answer" value="">
                <mat-error *ngIf="question.get('OptionA').hasError('required')">Required Field</mat-error>
                <mat-error *ngIf="question.get('OptionA').hasError('serverError')">
                  {{serverErrors.questions[i].options.OptionA}}</mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>
                  Option B:
                </mat-label>
                <input formControlName="OptionB" matInput type="text" placeholder="possible answer" value="">
                <mat-error *ngIf="question.get('OptionB').hasError('required')">Required Field</mat-error>
                <mat-error *ngIf="question.get('OptionB').hasError('serverError')">
                  {{serverErrors.questions[i].options.OptionB}}</mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>
                  Option C:
                </mat-label>
                <input formControlName="OptionC" matInput type="text" placeholder="possible answer" value="">
                <mat-error *ngIf="question.get('OptionC').hasError('required')">Required Field</mat-error>
                <mat-error *ngIf="question.get('OptionC').hasError('serverError')">
                  {{serverErrors.questions[i].options.OptionC}}</mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>
                  Option D:
                </mat-label>
                <input formControlName="OptionD" matInput type="text" placeholder="possible answer" value="">
                <mat-error *ngIf="question.get('OptionD').hasError('required')">Required Field</mat-error>
                <mat-error *ngIf="question.get('OptionD').hasError('serverError')">
                  {{serverErrors.questions[i].options.OptionD}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Answer</mat-label>
                <mat-select formControlName="answer">
                  <mat-option *ngFor="let ans of getOptions(i)" [value]="ans">
                    {{ans}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="question.get('answer').hasError('required')">Required Field</mat-error>
                <mat-error *ngIf="question.get('answer').hasError('serverError')">
                  {{serverErrors.questions[i].answer}}</mat-error>
              </mat-form-field>
              <mat-divider></mat-divider>
            </div>
            <br>
            <button *ngIf="getArrayControl().length === i+1" (click)="addQuestion()" mat-raised-button
              color="accent">Add Question</button>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="onSubmit()" mat-raised-button color="primary">Submit Quiz</button>
          <button (click)="onCancel()" mat-raised-button color="warn">Cancel</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>

<div class="backdrop" *ngIf="isLoading()">
  <div class="spinner-box">
    <mat-spinner></mat-spinner>
  </div>
</div>
