<div class="row">
  <div class="col-sm-12">
    <h1>Overview</h1>
  </div>
  <div class="col-sm-12">
    <!-- 1st card Recent Quiizes-->
    <div class="col-sm-4">
      <mat-card>
        <mat-card-title>
          Recent Quizzies
        </mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item> Pepper </mat-list-item>
            <mat-list-item> Salt </mat-list-item>
            <mat-list-item> Paprika </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- 2nd card -->

    <div class="col-sm-4">
      <mat-card>
        <mat-card-title>
          Questions
        </mat-card-title>
        <mat-card-content>

          <!-- list of questions -->
          <mat-list>
            <mat-list-item> Please select a quiz </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>


    <!-- 3rd card QuizStaTS -->

    <div class="col-sm-4">
      <mat-card>
        <mat-card-title>
          Quiz Statistics
        </mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item> Pepper </mat-list-item>
            <mat-list-item> Salt </mat-list-item>
            <mat-list-item> Paprika </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>


<div class="row my-2">
  <div class="col-sm-12">
    <h3>Quick Actions</h3>
  </div>
  <div class="col-sm-12">
    <a mat-button color="accent" routerLink="../quiz/new">Create a Quiz</a>
    <a mat-button color="accent" routerLink="../quiz/view">View All Quizzies</a>

  </div>
</div>
