<footer class="bottom bg-dark mt-2">
  <div class="row p-3 bg-dark mr-0">

    <div class="row padding">

      <div class="col-sm-4">
        <h1 class="col-sm-12">Quizzie</h1>
        <div class="col-sm-12">
          <h5 class="row">Created by
            <a mat-button color="accent" class="row padding-x-0" href="portfolio-satyam-mahajan.netlify.app">Satyam
              Mahajan
              <mat-icon>open_in_new</mat-icon>
            </a>
          </h5>
        </div>

      </div>
      <div class="col-sm-4">

        <div class="row text-left">
          <h1 class="row">
            Contact Us
          </h1>

          <address>
            11025 Fake address<br>
            Dreamland, Brain A1A0A0<br>
            LalaLand
          </address>

        </div>


      </div>

      <div class="col-sm-4">

        <div class="row text-left">
          <h1 class="row">
            Social Media
          </h1>

          <ul class="row text-left list-group">
            <li class="item"><a mat-button color="accent" href="#">Twitter</a></li>
            <li class="item"><a mat-button color="accent" href="#">Facebook</a></li>
            <li class="item"><a mat-button color="accent" href="#">Linkedin</a></li>
          </ul>

        </div>


      </div>



    </div>
  </div>
</footer>
