.example-spacer {
  flex: 1 1 auto;
}

mat-icon {
  margin: auto;
}

/* .icon{
  text-h
} */

button span {
  padding: 5px;
}

button span:first-child {
  display: none;
}


@media screen and (min-width: 500px) {

  /* .icon {
   text
  } */
  button span:first-child {
    display: inline;
  }

}
