<div class="flex flex-direction-column justify-content-center">


  <mat-horizontal-stepper (selectionChange)="selectionChange($event)" class="m-2" [linear]="true" #stepper>
    <mat-step [stepControl]="quizPinForm">
      <form [formGroup]="quizPinForm">
        <ng-template matStepLabel>Enter Quiz Pin</ng-template>
        <mat-form-field>
          <mat-label>Pin</mat-label>
          <input matInput placeholder="123456789" formControlName="pin" required>
        </mat-form-field>
        <div>
          <button mat-button (click)="fetchQuiz()" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="nameForm" label="Enter name">
      <form [formGroup]="nameForm">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Jane Doe" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Ready to start Quiz</ng-template>
      <p>Quiz Name: {{quizName}}</p>
      <p>Name: {{nameForm.get('name').value}}</p>
      <div>
        <button mat-button (click)="onSubmit()" [disabled]="!isValid">Start Quiz</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
