/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pop-up-msg {
  color: white;
  background-color: #7b1fa2;
}

.danger-pop-up-msg {
  color: white;
  background-color: #f44336;
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.spinner-box {
  position: fixed;
  top: 30vh;
  left: 20vw;
  width: 60vw;
  padding: 16px;
  z-index: 100;
  background: transparent;
  display: flex;
  justify-content: center;
}

a:hover {
  text-decoration: none;
}

.bg-dark {
  background-color: #343a40 !important;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.text-white {
  color: white;
}

.font-italic {
  font-style: italic;
}

.primary {
  background-color: #7b1fa2;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.text-align-center {
  text-align: center;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-2 {
  margin-left: 2rem;
}



.mr-0 {
  margin-right: 0;
}

.mr-2 {
  margin-right: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}


.mt-3 {
  margin-top: 3rem;
}

.mx-2 {
  margin: 0 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.full-width {
  width: 100%
}


.min-height-inherit {
  min-height: inherit;
}

.position-absolute {
  position: absolute;
}

.b-0 {
  bottom: 0;
}

.clearfix {
  overflow: auto;
}
