<div class="row">
  <div class="col-sm-12 flex justify-content-center my-2 p-3">
    <mat-card>
      <div class="col-sm-12 flex justify-content-center" *ngIf="isLoading()">
        <mat-spinner></mat-spinner>
      </div>

      <div *ngIf="!isLoading()">
        <mat-card-title>
          Sign-In
        </mat-card-title>
        <form [formGroup]="signInform" (ngSubmit)="onSubmit()">
          <mat-card-content>
            <mat-form-field class="full-width" color="accent">
              <mat-label>Email</mat-label>
              <input formControlName="email" matInput type="email" placeholder="example@example.com" value="">
              <mat-error *ngIf="getFormControls().email.errors">{{getErrorMessage("email")}}</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" color="accent">
              <mat-label>Password</mat-label>
              <input formControlName="password" matInput type="password" placeholder="" value="">
              <mat-error *ngIf="getFormControls().email.errors">{{getErrorMessage("password")}}</mat-error>
            </mat-form-field>
            <p><span style="font-size: 1.2rem;">Forgot Password?</span></p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" type="submit">Sign In</button>
            <mat-error class="pt-1" *ngIf="isError()">{{getLoginError()}}</mat-error>
          </mat-card-actions>
        </form>
        <mat-divider></mat-divider>
        <mat-card-footer>
          <p class="mat-f-m">
            <a style="font-size: 1.4rem" routerLink='/auth/register'>Register Here!
            </a>
          </p>
        </mat-card-footer>
      </div>

    </mat-card>
  </div>
</div>
